* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4a688;
}

h1 {
  text-align: center;
  margin-top: 30px;
  text-decoration: underline;
}


h4 {
  text-decoration: underline;
  text-align: center;
  margin-top: 25px;
}

p {
  text-align: center;
}


.paragraph {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

#url-github {
  background-color: #bc5a45;
  text-align: center;
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
}

.resources-container {
  padding-top: 100px;
  padding-bottom: 50px;
  align-self: center;
  background-color: #f9ccac;
  display: flex;
  justify-content: center;
}

.resources {
  height: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.resources-item {
  height: 210px;
  width: 300px;
  flex-wrap: wrap;
  text-align: center;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .paragraph {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25%;
    margin-right: 25%;
  }
  .resources {
    height: auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }
}
